{% extends 'layout-in.html' %}
    {% block content %}
        <div class="card bg-light text-dark w-100">
            <div class="card-body">
              <h5 class="card-title">Under development.</h5>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    soon
                    <span class="visually-hidden">coming soon.</span>
                  </span>
                   <p class="card-text">We're developing an AI that will make recommendations based on your recently played, favorite albums, favorite songs and many more details about you.</p>
            </div>
        </div>

    {% endblock %}

